{% if site.gitment_repo %}
<div id="gitmentContainer"></div>
<!---error when login: [object ProgressEvent] --->
<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->

<!--to support chinese--->
<!-- <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script> -->

<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>

<script>
    var gitment = new Gitment({
		// id: '<%= page.date %>',
        id: '<%= page.title %>',
        owner: '{{site.gitment_owner}}',
        repo: '{{site.gitment_repo}}',
        oauth: {
            client_id: '{{site.gitment_oauth.client_id}}',
            client_secret: '{{site.gitment_oauth.client_secrete}}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{% endif %}

